ScoreCollector.Test/Service References/SaverReference/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ScoreFramwork" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ScoreFramwork" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfScore">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Score" nillable="true" type="tns:Score" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScore" nillable="true" type="tns:ArrayOfScore" />
  <xs:complexType name="Score">
    <xs:sequence>
      <xs:element minOccurs="0" name="AwayScore" type="xs:int" />
      <xs:element minOccurs="0" name="AwayTeam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HomeScore" type="xs:int" />
      <xs:element minOccurs="0" name="HomeTeam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LeagueName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Score" nillable="true" type="tns:Score" />
</xs:schema>